.rsb-Head {
  height: 150px;
  background: #2c2c2c;
  margin-bottom: 10px;
  overflow: hidden;
  .loginIcon {
    height: 75px;
    margin-top: 25px;
    display: flex;
    .login-left {
      width: 80px;
      height: 45px;
    }
    .login-right {
      flex: 1;
      flex-direction: row-reverse;
      span {
        flex: 1;
        display: block;
        color: #e0e0e0;
        font-size: 17px;
        align-items: center;
      }
    }
  }
  .notTitle {
    height: 50px;
    font-size: 13px;
    line-height: 50px;
    text-indent: 25px;
    color: #e0e0e0;
  }
  .notTitle:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }
}
