.PersonMessage {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  .person-head {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    .head-left {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      margin-right: 10px;
      overflow: hidden;
    }
    .head-right {
      flex: 1;
      .person-name {
        font-size: 18px;
      }
      .person-msg {
        margin-top: 17px;
        flex-direction: row-reverse;
        .msg-item {
          flex: 1;
          .item {
            flex: 1;
          }
        }
      }
    }
  }
}
